@media only screen and (max-width: 1200px){
    html{
        font-size: 24px;
    }
    .welcome{
        margin-right: 85px;
    }
    .welcome h1{
        font-size: 75px;
    }
    .about .about-slide img:hover~p{
        transform: translate(-58%,-490%);
    }
    .pricing .benefit{
        margin-bottom: 7%;
    }
    .contact .address{
        font-size: smaller;
        padding: 100px 0 0 20px;
    }
    footer{
        font-size: smaller;
        padding-top: 5px;
    }
}
@media only screen and (max-width: 1023px){
    header .logo{
        width: 140px;
        margin: 20px;
    }
    header label{
        display: inline-block;
        transition: 0.5s;
    }
    header label i{
        cursor: pointer;
        transition: 0.5s;
        transform: rotate(90deg);
    }
    header input:checked~label{
        transform: rotate(-90deg);
        transition: 0.5s;
    }
    header input:checked~.nav-link{
        left: 100%;
    }
    header .nav-link{
        font-size: smaller;
        padding-top: 30vh;
        margin: 0;
        background-color: rgb(26, 26, 26);
        position: fixed;
        height: 100vh;
        width: 30%;
        z-index: 10;
        left: 70%;
        transition: 0.5s;
    }
    header .nav-link li{
        padding: 2vh 0;
        display: inline-block;
        width: auto;
        margin: 0 0 5% 40%;
        text-align: center;
        transition: 0.3s ease-in-out;
    }
    header .nav-link li a:hover,header .nav-link li a:active{
        color: aliceblue;
        transition: 0.5s ease-in-out;
    }
    header .nav-link span{
        opacity: 1;
    }
    .about .about-slide img:hover~p{
        transform: translate(-58%,-440%);
    }
    .pricing h3{
        font-size: 23px;
    }
    .pricing .benefit{
        margin-bottom: 9.5%;
    }
    .pricing .bbtn{
        padding: 0 90px 0 90px;
    }
    .strategy i{
        font-size: 80px;
    }
    .strategy h3{
        font-size: 30px;
    }
    .contact .address{
        padding-top: 150px;
    }
    .contact .address>ul:nth-child(2) li{
        width: 70px;
        height: 70px;
    }
    .contact .address>ul:nth-child(2) i{
        line-height: 250%;
    }
    .address>ul:nth-child(2) li:hover i{
        transform: scale(1.3);
    }
    form{
        height: 60vh;
        margin-top: 10vh;
    }
}
@media only screen and (max-width: 900px){
    .about .about-slide p{
        font-size: smaller;
    }
    .about .about-slide img:hover~p{
        transform: translate(-58%,-400%);
    }
}
@media only screen and (max-width: 840px){
    .about .about-slide img:hover~p{
        transform: translate(-58%,-420%);
    }
    .product h3{
        font-size: 20px;
    }
    .contact .address>ul:nth-child(2) li{
        width: 60px;
        height: 60px;
    }
    .contact .address>ul:nth-child(2) i{
        font-size: 25px;
    }
}
@media only screen and (max-width: 768px){
    header .btn{
        padding: 2% 8%;
    }
    .about .about-slide img{
        height: 100px;
    }
    .about-slide p{
        font-size: smaller;
    }
    .about>div:first-child p{
        margin-bottom: 1%;
    }
    .about .about-slide{
        margin: 0;
        display: inline;
        padding-left: 5%;
    }
    .about .about-slide img{
        width: 40%;
        height: 10%;
        margin: 0 0 3%;
    }
    .about-slide p{
        font-size: smaller;
        transform: translate(-37%,-100%);
    }
    .about .about-slide img:hover + p{
        transform: translate(-37%,-510%);
    }
    .pricing .col-1-3{
        display: inline-block;
        width: 32%;
    }
    .pricing .product{
        margin: 0 0 5% 0;
    }
    .pricing>div:nth-child(2){
        padding-right: 0;
    }
    .pricing .bbtn{
        padding: 0 ;
    }
    .product h3{
        font-size: 18px;
    }
    .review-slide{
        width: 30%;
        margin-left: 3.31%;
        float: left;
        display: inline-block;
        font-size: smaller;
    }
    .strategy h2{
        margin-bottom: 0;
    }
    .strategy h3{
        font-size: 21px;
    }
    .strategy p{
        text-align: start;
        padding: 0 10px 0 10px;
    }
    .strategy .step-1 i,.strategy .step-2 i,.strategy .step-3 i,.strategy .step-4 i{
        font-size: 60px;
    }
    .contact .address{
        padding-top: 0;
        text-align: center;
    }
    .contact .address>ul:nth-child(2) li{
        margin: 10px auto;
    }
    form{
        margin: 0 0 0 12.5%;
        width: 80%;
    }
    form *{
        margin: 10px auto;
    }
}
@media only screen and (max-width: 700px){
    header .btn{
        padding: 2% 5%;
    }
    .pricing h3{
        font-size: 14px;
    }
    .pricing>div:nth-child(2) .col-1-3{
        float: left;
    }
}