
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: antiquewhite;
  background-color: white;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-flow: column nowrap;
  min-width: 0;
}

header, section {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h2{
  text-transform: uppercase;
  color: rgb(224, 95, 20);
  font-size: 3rem;
}

h2 span {
  contain: '';
  background: linear-gradient(90deg, rgb(251,188,51),rgb(239,128,14),rgb(251,188,51));
  border-radius: 50px;
  height: 0.25rem;
  width: inherit;
  display: block;
  margin: 0 auto;
}

section>.div-1{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
}

/*-------------------Navbar--------------------*/
header {
  background-image:linear-gradient(180deg,rgba(0,80,115, 0.5), rgba(14,17,17,0.5)),url(../img/background-1.jpg);
  background-attachment: fixed;
}
header ul{
  width: 100%;
  display: flex;
  flex-direction: row;
}
header ul>img{
  width: 8rem;
}
header ul #li-first{
  margin-left: auto;
}
header ul li{
  list-style-type: none;
  overflow: hidden;
  height: 100%;
  align-self: center;
  margin-right: 5rem;
}
header ul li a{
  text-decoration: none;
  color: lightblue;
  font-weight: bold;
  position: relative;
  font-size: 1.5rem;
}
header ul li a span {
  position: absolute;
  display: block;
  top: 85%;
  left: -102%;
  width: 100%;
  height: 10%;
  background: linear-gradient(90deg,transparent,#d0d3fd);
}
header ul li a:hover span {
  animation: aspan 0.5s;
}
/*-------------------Content--------------------*/
header>#head-h1{
  width: 100%;
  margin-top: 7rem;
}
header>#head-h1>h1{
  font-size: 5rem;
  color: lightblue;
  opacity: 0.8;
  text-align: center;
  color: transparent;
  background: linear-gradient(-10deg, #107dac, lightblue);
  -webkit-background-clip: text;
  background-clip: text;
}
header>#head-a{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
header>#head-a a{
  text-align: center;
  text-decoration: none;
  color: #2393dd;
  opacity: 0.7;
  background-color: #131313;
  padding: 1.5rem 3rem;
  border-radius: 10px;
  transition: 0.5s;
  font-size: 1.5rem;
  margin-right: 1rem;
}

header>#head-a a:hover {
  color: #114877;
  background: #178ef0;
  box-shadow: 0 0 20px #178ef0,0 0 50px #178ef0,0 0 120px #178ef0;
}

@-webkit-keyframes aspan {
  100% {
    left: 100%;
  }
}

@keyframes aspan {
  100% {
    left: 100%;
  }
}

/*-------------------About--------------------*/
.about {
  background-image: url(../img/background-3.png);
  background-attachment: fixed;
}

.about>.div-1>p{
  color: chocolate;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.about>.div-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 10rem;
}
.about>.div-2 img{
  border-radius: 5%;
  box-shadow: -5px 5px 10px 0px #20223b;
  border: solid 1px #e3e3ee;
  width: 15rem;
}
.about>.div-2 div{
  position: relative;
}
.about>.div-2 div p{
  font-size: 1.5rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.8s;
}

.about>.div-2 img:hover {
  filter: blur(2px) brightness(50%) opacity(0.8);
}

.about>.div-2 img:hover + p, .about>.div-2 p:hover{
  transform: translate(-50%, -375%);
  color: #dbf4f8;
  opacity: 1;
}

/*-------------------Pricing--------------------*/
.pricing {
  background: linear-gradient(-45deg, #eef4f3, #eeeeee);
  color: black;
}

.pricing>.div-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-top: 3rem;
}

.pricing>.div-2>div{
  background-color: #efefef;
  box-shadow: -1px 10px 10px 1px grey;
  width: 20rem;
  height: 30rem;
  border-radius: 20px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pricing>.div-2>div>h3{
  text-align: center;
  background-color: #2f3848;
  border-radius: 20px 20px 0 0;
  color: azure;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.5rem;
  line-height: 3rem;
}

.pricing>.div-2>div>p {
  text-align: center;
  line-height: 7rem;
  font-size: 1.25rem;
}

.pricing>.div-2>div>p>span {
  font-size: 4rem;
  vertical-align: middle;
}

.pricing>.div-2>div>ul{
  font-size: 1.25rem;
  width: 80%;
  list-style: none;
  line-height: 4rem;
}
.pricing>.div-2>div>ul>li{
  vertical-align: middle;
}
.pricing>.div-2>div>ul>li>i{
  text-align: center;
  width: 3rem;
  font-size: 1.5rem;
  line-height: inherit;
}

.pricing>.div-2>div>a {
  z-index: 1;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border-radius: 0 0 20px 20px;
  width: 100%;
  line-height: 2.5rem;
  font-size: 1.25rem;
}

.pricing>.div-2>div>a::before {
  position: absolute;
  left: 0;
  content: '';
  background: linear-gradient(180deg,rgba(173, 173, 173, 0.8),rgba(230, 223, 223, 0.8),rgba(238, 233, 233, 0.8));
  transition: all .5s ease-in;
  z-index: -1;
  width: 100%;
  height: 0%;
}

.pricing>.div-2>div>a:hover::before {
  height: 180%;
}

/*-------------------Reviews--------------------*/
.reviews {
  background-attachment: fixed;
  background-image: linear-gradient(180deg,rgba(0,80,115, 0.5), rgba(14,17,17,0.5)),url(../img/background-2.jpg);
  width: 100%;
}

.reviews>.div-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reviews>.div-2>div{
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
.reviews>.div-2>div>img {
  width: 10rem;
  border-radius: 50%;
}

.reviews>.div-2>div>.name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.reviews>.div-2>div>.review {
  font-size: 1.25rem;
  font-style: italic;
  line-height: 2rem;
  text-indent: 1rem;
}

/*-------------------Strategy--------------------*/
.strategy {
  background-image: url(../img/background-4.png);
  background-attachment: fixed;
  color: whitesmoke;
}

.strategy>.div-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 60%;
  margin: 4rem auto;
}
.strategy>.div-2>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: 1rem;
  border-radius: 20px;
}
.strategy>.div-2>div>i{
  font-size: 6rem;
}
.strategy>.div-2>div>span{
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  width: 70%;
}
.strategy>.div-2>div>h3{
  font-size: 2rem;
}
.strategy>.div-2>div>p{
  font-size: 1.25rem;
  width: 80%;
  text-align: justify;
}

.step-1 {
  background-color: #659b96;
}

.step-2 {
  background-color: #3c8384;
}

.step-3 {
  background-color: #1d5b5f;
}

.step-4 {
  background-color: #004246;
}

/*-------------------Contact--------------------*/
.contact {
  background-image: linear-gradient(60deg, rgba(18, 66, 114, 0.4), rgba(63, 91, 122, 0.6), rgba(51, 91, 104, 0.5)), url(../img/background-5.jpg);
  background-attachment: fixed;
  height: 95vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contact>.ct-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact>.ct-1>.ul-1{
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1.5rem;
}
.contact>.ct-1>.ul-1>li{
  line-height: 3rem;
}
.contact>.ct-1>.ul-1>li>i{
  text-align: center;
  font-size: 1.5rem;
  width: 2.5rem;
}
.contact>.ct-1>.ul-2{
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contact>.ct-1>.ul-2 li{
  margin: 0.5rem;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 20%;
  background-color: #d0d3fd;
  box-shadow: 0 0 5px #2d3036, 0 0 10px #26282e;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.contact>.ct-1>.ul-2 i {
  color: #114877;
  font-size: 2.25rem;
  line-height: 5.5rem;
  transition: all 0.2s ease;
}

.contact>.ct-1>.ul-2 li:hover i {
  transform: scale(1.4);
  color: #d0d3fd;
}

.contact>.ct-1>.ul-2 li::before {
  content: '';
  position: absolute;
  left: -110%;
  top: 100%;
  width: 160%;
  height: 180%;
  background-color: #114877;
  transform: rotate(-45deg);
}

.contact>.ct-1>.ul-2 li:hover::before {
  animation: btn-a 1s 1;
  top: -20%;
  left: -20%;
}

@-webkit-keyframes btn-a {
  0% {
    left: -120%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -70%;
  }
  100% {
    top: -20%;
    left: -20%;
  }
}

@keyframes btn-a {
  0% {
    left: -120%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -70%;
  }
  100% {
    top: -20%;
    left: -20%;
  }
}

.contact>.ct-2{
  margin-left: 3rem;
}
.contact>.ct-2>form {
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  box-shadow: 0 0 5px rgba(46, 45, 45, 0.5), 0 0 10px rgba(22, 22, 22, 0.4), 0 0 20px rgba(26, 25, 25, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contact>.ct-2>form * {
  width: 80%;
  background: black;
  border: none;
  font-size: 1.5rem;
  color: #d0d3fd;
  border-radius: 5px;
  outline: none;
  margin: 1rem 0 1rem 0;
  padding: 1rem;
}

.contact>.ct-2>form *:focus {
  box-shadow: 0 0 8px rgba(161, 239, 250, 0.5), 0 0 15px rgba(72, 173, 219, 0.4), 0 0 30px rgba(169, 224, 226, 0.3);
}

.contact>.ct-2>form [type="submit"] {
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1rem;
  width: 8rem;
}

/*-------------------Footer--------------------*/
footer {
  height: 5vh;
  background: linear-gradient(180deg, #34373a, #373a3d, #393a3a);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: 1.25rem;
  text-align: center;
  color: aliceblue;
  height: 1.25rem;
}